@page "/current-grid"
@using Blazor.Extensions
@using Blazor.Extensions.Canvas.Canvas2D
@using BlazorLife.Models
@attribute [StreamRendering]
@rendermode InteractiveServer


<PageTitle>Current Grid</PageTitle>

<h1>Current Grid</h1>

<div class="controls">
    <button @onclick="Step">
        Step
    </button>
</div>

<GridCanvas Grid="@grid"></GridCanvas>

@code {
    private uint width = 100;
    private uint height = 100;

    private IGrid grid;
    private IGridRule gridRule;
    private IGridRunner gridRunner;

    protected override void OnInitialized()
    {
        grid = new Grid("Main");
        gridRule = new GridRule();
        gridRunner = new GridRunner(grid, gridRule);

        var gridGenerator = new RandomGridGenerator(width, height);
        //var gridGenerator = new GliderGridGenerator();

        gridGenerator.Generate(grid);
    }
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private void Step()
    {
        gridRunner.Step();
    }
}